$ed-red:#b20838;
$ed-blue:#274391;
$ed-yellow:#b6bd1c;
$dark-blue:#17206a;
$light-blue:#034889;
$med-gray:#3c3c3c;
$dark-gray:#2a2a2a;
$light-text:#c2c2c2;
$white:#ffffff;
$f2:#f2f2f2;
$black:#000000;
$darker-gray:#333333;
